<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="../iron-icons/iron-icons.html">

<dom-module id="paper-finder-icons-sit">
  <template>
    <style>
      :root{
        --icons-container:{
          display: flex;
          flex-direction: column;
          width: 4rem;
          padding: 1rem;
          max-height: 1rem;
          align-items: center;
          margin: var(--margin-zero);
        };
        /* Icons */
        --width-container: 5px;
        --margin-zero : 0px;
      }
      .container-icons {
        @apply --icons-container;

      }
      .icons {
        margin: var(--margin-zero); 
      }
    </style>
    <template is="dom-if" if="[[icons]]">
      <div class="container-icons">
        <template is="dom-repeat" items="[[icons]]" as="icon">
          <div class="icons"><iron-icon icon="[[icon.name]]" on-click="_iconClicked"></iron-icon></div>
          <div class="amount">[[icon.amount]]</div>
        </template>
      </div>
    </template>
  </template>

  <script>
    class PaperFinderIconsSit extends Polymer.Element {
      static get is() { return 'paper-finder-icons-sit'; }
      static get properties() {
        return {
          icons : {
            type : Array
          }
        };
      };

      _iconClicked(e) {
        const EventName = e.model.icon.event;
        const event = new CustomEvent(EventName, {
          bubbles: true,
          composed: true,
          detail: {
            data: `Event catched!! : ${EventName}`
          }
        });
        this.dispatchEvent(event);
      }
    }

    window.customElements.define(PaperFinderIconsSit.is, PaperFinderIconsSit);
  </script>
</dom-module>
